# 训练集、测试集各保留了一张图
# 分割数据集
**/imgs/*
!**/imgs/ISIC_0000000.jpg
**/masks/*
!**/masks/ISIC_0000000_segmentation.png
**/val_imgs/*
!**/val_imgs/ISIC_0015190.jpg
**/val_masks/*
!**/val_masks/ISIC_0015190_segmentation.png
# 分类数据集
**/Melanoma/*
!**/Melanoma/AUG_0_0.jpeg
!**/Melanoma/AUG_0_11.jpeg
**/NotMelanoma/*
!**/NotMelanoma/ISIC_0024308.jpg
!**/NotMelanoma/ISIC_0024307.jpg
#####################################
**/*.log
/.idea/
**/tmp.*
**/wandb/*
**/checkpoint/*
