/* 页面整体 */
body {
    margin: auto;
    max-width: 600px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: lightblue
}



/* 结果展示 */
#urls img{
    margin: auto;
    width: 300px;
}

/* 头像 */
.avatar {
    width: 40px;
}

/* 上传交互*/
/* #upload {
    display: inline-block;
    width: 500px;
} 


#submit {
    display: inline-block;
    
} */
.show_img {
    display: block;
}
/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}